<!-- Header -->
<h1 i18n="heading">User properties</h1>

<div [appSpinner]="loading.active" spinnerSize="lg">
    @if (user) {
        <div class="row">
            <!-- Buttons -->
            <div class="col-sm-auto order-sm-last pb-3">
                <!-- Edit user button -->
                <a [class.disabled]="user.systemAccount" routerLink="edit" class="btn btn-secondary w-100 mb-2">
                    <fa-icon [icon]="faEdit" class="me-1"/>
                    <ng-container i18n>Edit user</ng-container>
                </a>
                <!-- Ban user button -->
                <button [class.active]="user.banned"
                        [appSpinner]="banning.active" [appConfirm]="user.banned ? unbanConfirm : banConfirm"
                        [disable]="isSelf || user.systemAccount!" confirmAction="Proceed" confirmActionType="warning"
                        (confirmed)="toggleBan()"
                        type="button" class="btn btn-outline-warning w-100 mb-2" i18n-confirmAction>
                    <fa-icon [icon]="faBan" class="me-1"/>
                    @if (user.banned) {
                        <ng-container i18n>Unban user</ng-container>
                    } @else {
                        <ng-container i18n>Ban user</ng-container>
                    }
                </button>
                <!-- Delete user button -->
                <button [appSpinner]="deleting.active" [appConfirm]="deleteConfirm" [disable]="isSelf || user.systemAccount!"
                        confirmAction="Delete user" (confirmed)="delete()" type="button"
                        class="btn btn-outline-danger w-100 mb-2" i18n-confirmAction>
                    <fa-icon [icon]="faTrashAlt" class="me-1"/>
                    <ng-container i18n>Delete user</ng-container>
                </button>
            </div>

            <!-- Details -->
            <div class="col-sm">
                <app-user-details [user]="user" id="user-details"></app-user-details>
            </div>
        </div>

        <!-- Domain roles -->
        <section id="user-domain-roles">
            <!-- Heading -->
            <h2 i18n>Domain roles</h2>

            <!-- Domain/role list -->
            @if (domainUsers) {
                <div class="list-group">
                    @for (du of domainUsers; track du.domainId) {
                        @if (domains.get(du.domainId!); as d) {
                            <a @fadeIn-slow [routerLink]="[Paths.manage.domains, d.id]"
                               class="list-group-item list-group-item-action">
                                <!-- Domain name/host -->
                                <div>
                                    <span class="fw-bold domain-host">{{ d.host }}</span>
                                    <app-domain-user-badge [domainUser]="du" class="ms-2"></app-domain-user-badge>
                                </div>
                                @if (d.name) {
                                    <div class="domain-name">{{ d.name }}</div>
                                }
                            </a>
                        }
                    }
                </div>
            }

            <!-- List footer -->
            <app-list-footer [count]="domainUsers?.length"/>
        </section>
    }
    <!-- Placeholder when no data -->
    @if (!user) { <app-no-data/> }
</div>

<!-- Template for the ban confirmation dialog -->
<ng-template #banConfirm>
    <p i18n>Are you sure you want to ban this user?</p>
    <form [formGroup]="banConfirmationForm">
        <div class="form-check">
            <input formControlName="deleteComments" type="checkbox" class="form-check-input" id="ban-del-comments">
            <label class="form-check-label" for="ban-del-comments" i18n>Delete all user's comments</label>
        </div>
        <div class="form-check ms-4">
            <input formControlName="purgeComments" type="checkbox" class="form-check-input" id="ban-purge-comments">
            <label class="form-check-label" for="ban-purge-comments" i18n>Permanently delete all comments, including replies</label>
        </div>
    </form>
    <hr>
    <p class="fw-bold" i18n>Please note: comment removal cannot be undone.</p>
</ng-template>

<!-- Template for the unban confirmation dialog -->
<ng-template #unbanConfirm>
    <div i18n>Are you sure you want to unban this user?</div>
</ng-template>

<!-- Template for the delete user confirmation dialog -->
<ng-template #deleteConfirm>
    <p i18n>Are you sure you want to delete this user?</p>
    <form [formGroup]="deleteConfirmationForm">
        <div class="form-check">
            <input formControlName="deleteComments" type="checkbox" class="form-check-input" id="delete-del-comments">
            <label class="form-check-label" for="delete-del-comments" i18n>Also delete all user's comments</label>
        </div>
        <div class="form-check ms-4">
            <input formControlName="purgeComments" type="checkbox" class="form-check-input" id="delete-purge-comments">
            <label class="form-check-label" for="delete-purge-comments" i18n>Permanently delete all comments, including replies</label>
        </div>
    </form>
    <hr>
    <p class="fw-bold" i18n>Please note: this action cannot be undone.</p>
</ng-template>
