@if (principal) {
    <!-- Heading -->
    <h1 i18n="heading">My profile</h1>

    <!-- Profile form -->
    <section>
        <form [formGroup]="userForm" (ngSubmit)="submit()" id="profile-form">
            <fieldset [disabled]="saving.active" class="row g-3">
                <!-- User ID -->
                <div class="col-md-6">
                    <label for="current-user-id" class="form-label colon" i18n>User ID</label>
                    <div class="input-group">
                        <input [value]="principal.id" type="text" class="form-control" id="current-user-id" disabled>
                        <button [appCopyText]="principal.id" ngbTooltip
                                class="btn btn-outline-secondary" type="button" title="Copy" i18n-title>
                            <fa-icon [icon]="faCopy"/>
                        </button>
                    </div>
                </div>

                <!-- Email -->
                <div class="col-md-6">
                    <label for="email" class="form-label colon" i18n>Email</label>
                    <input formControlName="email" type="email" class="form-control" id="email" size="45"
                           autocomplete="email">
                </div>

                <!-- Name -->
                <div class="col-md-6">
                    <label for="name" class="form-label colon" i18n>Name</label>
                    <input formControlName="name" type="text" class="form-control" id="name"
                           [class.is-valid]="userForm.controls.name.touched && userForm.controls.name.valid"
                           [class.is-invalid]="userForm.controls.name.touched && userForm.controls.name.invalid"
                           autocomplete="name" placeholder="John Doe" i18n-placeholder>
                    <div class="invalid-feedback" i18n>Please enter a valid name.</div>
                </div>

                <!-- Website URL -->
                <div class="col-md-6">
                    <label for="website-url" class="form-label colon" i18n>Website URL</label>
                    <input formControlName="websiteUrl" type="url" class="form-control" id="website-url"
                           [class.is-valid]="userForm.controls.websiteUrl.touched && userForm.controls.websiteUrl.valid"
                           [class.is-invalid]="userForm.controls.websiteUrl.touched && userForm.controls.websiteUrl.invalid"
                           autocomplete="url" placeholder="http://example.com">
                    <!-- Invalid feedback -->
                    <div class="invalid-feedback" i18n>Please enter a valid URL.</div>
                </div>

                <!-- Current password -->
                @if (userForm.controls.curPassword.enabled) {
                    <div class="col-md-6">
                        <label for="cur-password" class="form-label colon" i18n>Current password</label>
                        <app-password-input #curPassword formControlName="curPassword" autocomplete="current-password"
                                            id="cur-password" placeholder="(unchanged)" i18n-placeholder/>
                    </div>
                }

                <!-- New password -->
                @if (userForm.controls.newPassword.enabled) {
                    <div class="col-md-6">
                        <label for="new-password" class="form-label colon" i18n>New password</label>
                        <app-password-input formControlName="newPassword" [strong]="true" autocomplete="new-password"
                                            id="new-password" placeholder="(unchanged)" i18n-placeholder/>
                    </div>
                }

                <!-- Avatar -->
                <div class="col-12" id="user-avatar">
                    <label for="user-avatar-picture" class="form-label colon" i18n>Avatar</label>
                    <div class="d-grid d-sm-flex flex-wrap align-items-center gap-2 mb-3">
                        <!-- Avatar image -->
                        <div class="px-2 text-center text-sm-start">
                            <app-user-avatar [user]="principal" [updated]="principalUpdated"
                                             [avatarOverride]="avatarFile" size="L" id="user-avatar-picture"/>
                        </div>
                        <!-- Buttons -->
                        <button (click)="uploadAvatar()" type="button" class="btn btn-outline-primary" i18n>Upload</button>
                        <button (click)="removeAvatar()" type="button" class="btn btn-outline-danger" i18n>Remove</button>
                        <button (click)="downloadGravatar()" [appSpinner]="settingGravatar.active" type="button" class="btn btn-outline-secondary" i18n>Download from Gravatar</button>
                    </div>
                    <!-- Avatar info -->
                    <div class="form-text">
                        <ng-container i18n>Avatar image should be a JPEG or a PNG image up to 1 MB in size.</ng-container>&ngsp;
                        <ng-container i18n>A 128×128 pixel image is recommended.</ng-container>&ngsp;
                        <ng-container i18n>You can also download your profile picture from <a href="https://gravatar.com/" target="_blank" rel="noopener noreferrer">Gravatar</a>.</ng-container>
                    </div>
                    <!-- Invisible avatar file input -->
                    <input #avatarFileInput (change)="avatarSelected()" class="d-none" type="file" id="user-avatar-file">
                </div>
            </fieldset>

            <!-- Save button -->
            <div class="form-footer">
                <button [appSpinner]="saving.active" [disable]="!userForm.dirty && !avatarChanged" type="submit" class="btn btn-primary" i18n="action">Save</button>
            </div>
        </form>
    </section>

    <!-- Danger zone -->
    <section class="danger text-center p-4">
        <!-- Collapse link -->
        <button [class.collapsed]="isDangerZoneCollapsed" [attr.aria-expanded]="!isDangerZoneCollapsed"
                (click)="collapse.toggle()"
                type="button" class="btn btn-outline-danger collapse-toggler px-5 mb-2" aria-controls="danger-zone-container">
            <span class="me-2" i18n>Danger zone</span>
            <fa-icon [icon]="faAngleDown"/>
        </button>
        <!-- Danger zone content -->
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isDangerZoneCollapsed" id="danger-zone-container">
            <!-- Delete account -->
            <section>
                <h3 i18n="heading">Delete my account</h3>

                <!-- Delete account info -->
                <p i18n>Here you can terminate your service account.</p>

                <!-- Superuser-specific warning -->
                @if (principal.isSuperuser) {
                    <p i18n>Since you are a superuser, you must make sure there are other superuser(s) in the system before you can proceed with deleting your account.</p>
                }

                <!-- Delete account button -->
                <button [appConfirm]="deleteAccountDlg"
                        confirmTitle="Are you absolutely sure you want to delete your account?"
                        confirmAction="Delete my account"
                        [confirmIcon]="faSkullCrossbones"
                        [confirmActionEnabled]="deleteConfirmationForm.controls.agreed.value"
                        [appSpinner]="deleting.active" type="button" class="btn btn-danger"
                        (confirmed)="deleteAccount()"
                        i18n-confirmTitle i18n-confirmAction>
                    <fa-icon [icon]="faTrashAlt" class="me-1"/>
                    <ng-container i18n="action">Delete my account</ng-container>
                </button>
            </section>
        </div>
    </section>
}

<!-- Delete account confirmation dialog content template -->
<ng-template #deleteAccountDlg>
    <p i18n>You will lose your access to Comentario.</p>
    <form [formGroup]="deleteConfirmationForm">
        <div class="form-check">
            <input formControlName="deleteComments" type="checkbox" class="form-check-input" id="del-comments-del-account">
            <label class="form-check-label" for="del-comments-del-account" i18n>Also delete all my comments</label>
        </div>
        <div class="form-check ms-4">
            <input formControlName="purgeComments" type="checkbox" class="form-check-input" id="purge-comments-del-account">
            <label class="form-check-label" for="purge-comments-del-account" i18n>Permanently delete all comments, including replies</label>
        </div>
        <hr>
        <div class="form-check">
            <input formControlName="agreed" type="checkbox" class="form-check-input" id="agreed-del-account">
            <label class="form-check-label text-danger" for="agreed-del-account" i18n>I understand that this action cannot be undone</label>
        </div>
    </form>
</ng-template>
