@if (isAnonymous) {
    <!-- Anonymous user -->
    <fa-icon [icon]="faUser"/>
} @else if (_src) {
    <!-- User avatar image -->
    <img [src]="_src" alt="">
} @else {
    <!-- User initial in case there's no avatar -->
    <span>{{ user?.name?.substring(0, 1)?.toUpperCase() || '*' }}</span>
}
