@import "colours";
@import "mixins";

.comentario-comment-editor {
    width: 100%;
    display: flex;
    flex-direction: column;

    .comentario-comment-editor-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        margin-top: 12px;
    }

    .comentario-comment-editor-preview {
        padding: 8px;
        border: 1px solid $violet-2;
        border-radius: 3px;

        @include comment-text();
    }
}
